:root{
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --very-light-gray: hsl(0, 0%, 98%);

    --dm: 'DM Serif Display', serif;
    --karla: 'Karla', sans-serif;

}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.title{
    font-family: var(--dm);
    font-weight: 400;
    font-size: 2em;
}

.subtitle{
    font-family: var(--dm);
    color: var(--very-dark-violet);
    font-weight: 400;
    font-size: 1.5em;
}

.paragraph-w{
    font-family: var(--karla);
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    line-height: 1.5em;
}

.paragraph{
    font-family: var(--karla);
    font-weight: 400;
    color: var(--dark-violet);
    line-height: 1.5em;
}

.btn{
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    padding: 0.5em;
    width: 40%;
    position: absolute;
    left: 30%;
    right: 30%;
}

/* Header */
.nav-content{
    margin: 2em auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-img{
    width: 100%;
    max-width: 200px;
}

.ham-img{
    width: 100%;
    max-width: 100px;
}

.links-menu{
    display: none;
}

/* Section1 */
.description{
    color: #fff;
    background-color: var(--very-dark-violet);
    position: relative;
    padding-bottom: 5em;

}

.description-title{
    padding: 1.5em 0 1em;
}

.description::before{
    content: '';
    width: 100%;
    background-image: url(../images/image-intro-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 433px;
    background-size: cover;
}




.description-content{
    text-align: center;
    position: relative;
    height: 50vh;
}

.paragrah-description{
    margin-bottom: 2em;
}
